body{
	margin: 0;
	background-color: #1c478e;
	color:#fff;
}

h1{
	padding: 5px;
	background-color: #333;
	color: #fff;	
	margin: 0px;

}

h3{
	background: #2658a9;
	padding:5px;
	
}

table, th, td{
	width: 500px;
}

td{
	border-bottom: 1px dashed #ffffff;
	padding: 5px;

}

.container{
	width:730px;

}

.left{
	width: 500px;
	float: left;
	padding-right: 20px;
}

.right{
	width:180px;
	float:right;
	padding:0 10px 0 10px;
	background: #333333;
	margin-top: 20px;
}

